# File .gitignore

# Lingkungan virtual
venv/
env/

# File cache Python
__pycache__/
*.pyc

# File log
*.log

# File database
*.db
*.sqlite

# File konfigurasi lokal
.env

# Folder IDE
.vscode/
.idea/

# File sistem operasi
.DS_Store
Thumbs.db
